.App-logo {
  height: 40vmin;
}

.main-menuWrapper {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.btn {
  color: #09d3ac;
}

.btn span{
  padding-left: 0.1%;
  padding-right: 0.5%;
}

.btn span:hover{
  cursor: pointer;
  background-color: rgba(10, 10, 10, 0.25);
  border-top-right-radius: 40%;
  border-bottom-right-radius: 25%;
  text-shadow: -0.1em 0.1em rgb(170, 10, 10);
}

.btn span:active{
  /* on click */
  color:rgb(70, 90, 200);
  font-size: calc(8px + 2vmin);
}