a {
  text-decoration: none;
  color:inherit;
}

h1, p {
  margin-top: 0px;
}

.App-logo {
  height: 40vmin;
}

/* .main-menuWrapper { */
.kazzContainer {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.btn {
  color: #09d3ac;
}

.btn span {
  padding-left: 0.1%;
  padding-right: 0.5%;
  /* -----NO POSSIBILITY TO SELECT THE TEXT----- */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  /* -----NO POSSIBILITY TO SELECT THE TEXT----- */
}

.btn span:hover {
  cursor: pointer;
  background-color: rgba(10, 10, 10, 0.25);
  border-top-right-radius: 40%;
  border-bottom-right-radius: 25%;
  text-shadow: -0.1em 0.1em rgb(170, 10, 10);
}

.btn span:active {
  /* on click */
  color:rgb(70, 90, 200);
  font-size: calc(8px + 2vmin);
}

#gameCanvas {
  border: 1px solid black;
}

.roomPopups {
  position: absolute;
  left: 46%;
  top: 25%;
  background-color: rgba(10, 10, 10, 0.91);
  padding: 0.4%;
}